// Phase: General
.phase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: ms(0);
  margin: 0 auto;

  @include mq($from: desktop) {
    max-width: 90vw;
    height: 100vh
  }

  > * {
    flex-basis: auto;
    align-self: auto;
  }

  &[data-phase='0'] {
    .phase__controls a {
      opacity: 0;
      visibility: hidden
    }
  }

}

// Phase Header
.phase__header {
  text-align: center;
  width: 100%;
  max-width: 40rem;
  margin-bottom: ms(2);

  h2 {
    color: $white;
    text-shadow: 0 2px 1px rgba($text-color, .25)
  }

  p {
    margin-bottom: 0;
    color: darken($brand-primary, 35%);
  }

}

// Phase Body
.phase__body {
  margin-bottom: ms(2)
}

// Phase Controls
.phase__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    flex: 1;
    flex-basis: auto;
    align-self: auto;
    opacity: 1;
  }

}
