extends _layouts/base

block content

  section.phase(data-phase='0')
    .phase__header
      h2 Choose a card
      p
        | Please choose a card in order to proceed
    .phase__body
      .cards
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
        a(href='#', title='Card', data-number)
          div.cards__corners
          span ?
    .phase__controls
      a.btn(href='#', title='Next', data-phase-next='2') Next
